@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{
    font-family: 'Ropa Sans', sans-serif !important;
}
.material-icons{
    font-family: 'Material Icons' !important;
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    nav .container{
        width: 100% !important;
        margin: 0px !important;
    }
}
.breadcrumb:before{
    color: #2196f3;
}
.breadcrumbs{
    margin-top: 4px;
}
input{
    box-shadow: 1px 1px 4px #b3b3b3;
    padding: 10px !important;
    border-style: none;
    transition-property: box-shadow;
    transition-duration: 0.25s;

}
input:focus {
    outline: none !important;
    border-style: none !important;
    box-shadow: 2px 2px 7px #818181;
}
#boton-buscar{
    padding: 0px 4em;
}
.filtros{
    padding-left: 0px !important;
}
.collapsible{
    margin: 0rem 0 1rem 0;
}
.collapsible-body{
    padding: 0em 0em 0em 1em !important;
}
.collapsible-body p{
    margin-block-start: 0.6em;
    margin-block-end: 0.2em;
}
.collapsible-body span{
    color: rgb(43, 43, 43);
}
/*------------ofertas---------------*/
#ofertas{
    margin: 22px 0px;
}
.oferta-listada-g h5{
    color: rgb(230, 177, 31);
    font-weight: bold;
}
.oferta-listada h5{
    color: initial;
    font-weight: bold;
}
.oferta-listada-g p{
    margin-block-start: 0em !important;
}
.oferta-listada p{
    margin-block-start: 0em !important;
}

.oferta-listada-g{
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(255, 212, 94);
    padding: 0px 5px 5px 5px;
    box-shadow: 0 2px 2px 0 rgb(255 200 49 / 14%), 
    0 3px 5px 2px rgb(255 200 49/ 12%), 
    0 5px 10px 0 rgb(255 200 49 / 20%);
    font-size: 0.9em;
}
.oferta-listada{
    padding: 0px 5px 5px 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 
    0 3px 1px -2px rgb(0 0 0 / 12%), 
    0 1px 5px 0 rgb(0 0 0 / 20%);
    /*box-shadow: 2px 2px 7px rgb(255, 200, 49);*/
    border-style: none;
    font-size: 0.9em;
}
.oferta-icono{
    padding: 1.5em 0em 0.75em 0.75em !important;
}
.oferta-icono-d{
    padding: 0.8em 0.5em 0em 0.8em !important;
}
.pagination li.active {
    background-color: #2196f3;
}
/* ------------------ footer --------------*/
.footer-main{
    display: flex !important;
    flex-wrap: wrap;
}
.footer-sect{
    display: inline-block;
    width: 100%;
}
.footer-sect h6{
    margin: 20px 0px;
}
@media (min-width: 768px){
    .footer-sect{
        margin: 6px;
        width: 15%;
    }
    .footer-main{
        justify-content: space-around;
    }
}
.footer-div a{
    font-size: 0.8em;
    padding: 0px !important;
}
.footer-div img{
    height: 2.5em;
    border-radius: 50%;
    margin: 0px 0px;
}

